<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/style/font-awesome.css" rel="stylesheet" />
    <link href="~/style/style.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <div>
        @if (ViewBag.idLogeado != null)
        {
        <p> El id logeado es el @ViewBag.idLogeado</p>
         
        <p> y su usuario @ViewBag.nombreLogeado </p>
        }
    </div>
</body>
</html>
